1.主頁面
 *背景:
  漸層#8aa0cb(上)#ecc0c0(下)
 *標題:
  色票#f5f5f3
  字級 50pt
  字體 Noto Sans HK
  字重 Medium
  字距 200 //字距指的是每一個英文字母之間的距離
  底線 長度508px 粗細 1pt
 *月曆框:
  寬284px
  高310px
  圓角19px
  底色 #e6e6e6 透明度13%
  邊框 #e6e6e6 透明度100% 模糊1.7px
  邊框間距13px
 *文字:
  字體 Noto Sans HK
  字重 Medium
  月份:
   色票#f5f5f3
   字級24pt
   字距150

  星期:
   色票 #634496
   字級12pt
   字距50

  數字:(全部靠右對齊)
   色票#f5f5f3(平日)
   色票#fffdae(假日)
   字級13pt
   字距25

2.當月畫面
//點做有箭頭前往灀個月或下個月
 *月曆框(左邊):
  寬284px
  高310px
  圓角19px
  底色 #e6e6e6 透明度13%
  邊框 透明度100% 模糊1.7px
  邊框間距13px
 *文字:
  月份:
   色票#f5f5f3
   字級42pt
   字距150
  星期:
   色票 #634496
   字級21pt
   字距50
  數字:
   色票#f5f5f3(平日)
   色票#fffdae(假日)
   字級22pt
   字距25
 *底色框(右邊):
  色票漸層#ffffff 透明度上到下 20%-0%-20%
  寬644px 
  高537px
 *日期數字(右邊框框裡圓圈裡的數字):
  字級38pt
  色票#8264bc
 *標題:
  字級24pt
  色票 #f6f3ff
  字體 Noto Sans HK
  字重 light
  字距 200
 *動畫:
  鼠標指後上疊加一個底色上去
  底色框:
   寬668px 高140px
   色票 #faf8ff
   透明度24%
   加上陰影
  陰影:
   色票#6e669e
   透明度49%
   筆畫6pt
   模糊2.7
   字重medium
3.資訊欄頁面:
//左邊跟上一頁一樣，但被點選的日期底下會多一個圈圈底色(會轉存圖片給你們)
//跳到這業的方法有兩個 一.直接點選左邊月曆裡的數字 二.點選上一頁的標題的地方
//點擊右上角叉叉回到上一頁
 *日期數字(右邊框框裡圓圈裡的數字):
  字級40pt
  色票#8264bc
 *標題:
  字級24pt
  色票 #f6f3ff
 *內文:
  字級 16pt
  字重 light
  色票 #fffff0
  行距 22pt

//字重我沒有特別打的地方都是 medium 只有資訊欄裡的字是 light 

